# Nuxt
.nuxt
.output
.data
.nitro
.cache
dist

# Dependencies
node_modules

# Logs & caches
logs
*.log
.eslintcache
coverage
test-results
playwright-report

# Wrote generated index inside books
.wrote

# Env
.env
.env.*
!.env.example

# OS / editors
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
